html {
    /* Display: grid; */
    font-family: "Roboto", sans-serif;  
    /* grid-template-rows: repeat(17, 1fr);    
    grid-template-columns: repeat(3, 1fr); */

}
header {
    display: flex;
    background-color: #3693d6;
    width: 100vw;
    height: 10vh;
    color: white;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}
#headerimage {
    justify-self: start;
    align-self: center;
    height: 70%;
    width: 30%
}

ul {
    text-decoration: none;
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}
ul a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
}
#sayhello{
    background-color: white;
    color: #3693d6;
    text-align: center;
    font-size: 2em;
    border: 1px solid #3693d6;
    border-radius: 50px;
}
a:hover {
    color: gray;
}
#sayhello:hover {
    background-color: gray;
}
#titleimage {
    position: abolute;
    z-index: -1;
    width: 100vw;
}
#titleimageandtext {
    position: relative;
    text-align: center;
}
h1 {
    position: absolute;
    color: white;
    font-size: 10em;
    font-weight: 400;
    bottom: 39%;
    left: 30%;
    transform: rotate(-10deg);
    /* go back and fix this centering like Zack said */
}
h2 {
    position: absolute;
    color: white;
    bottom: 22%;
    left: 53%;
    transform: rotate(-10deg);
    font-size: 8em;
    font-weight: 300;
}

#aboutme {
    background-color: #3693d6;
    color: white;
    text-align: center;
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#aboutmetitle {
    background-color: #3693d6;   
    font-weight: bold;
    font-size: 2em;
    padding: 5% 0 0 0;
}
#aboutmetxt {
    padding: 0 10% 10% 10%;
    font-size: 2em;
    font-weight: lighter;
    
}
#ourwork {
    position: absolute;
    bottom: 8%;
    left:47%;
    background-color: #3693d6;
    color: white;
    border: 1px solid #3693d6;
    border-radius: 50px;
    height: 4%;
    width: 10%;
    font-size: 1.5em;
}
#ourwork:hover {
    background-color: gray;
}
#ourworktitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #3693d6;
    margin: 5% 0 5% 0;

}

main #mainimages{
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    grid-template-columns: repeat(3, 33.3%);
    gap: 10px;
    margin: 0 5% 0 5%;
}
#mountaincabin {
    width: 100%;
    height: 100%;
}
#dog {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
}
#cross {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;  
}
#backpacker {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
} 

#flyhigh {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    justify-self: center;
}
#overlay {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(54,147,214,0.5);
    color: white;
    z-index: 2;
    text-align: center;
    justify-self: center;
}
#flyhighall {
    margin: 40% 0 0 0;
}
h3 {
    font-size: 3vw;
    font-weight: 500;
    margin: 0 auto 5% auto;
}
#flyhightxt {
    /* width: 70%;   */
    margin: 0 15% 0 15%; 
    font-size: 1.7vw;
    font-weight: 200;
    line-height: 1.5em;

}

#seemore {
    background-color: #3693d6;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: rgba(54,147,214,0.5);
    width: fit-content;
    height: fit-content;
    font-size: 1.5vw;
    padding: 1% 4% 1% 4%;
}
#seemore:hover {
    background-color: gray;
}

#testimonial {
    display: grid;
    grid-template-rows: repeat(5, auto);
    color:#3693d6;
    margin: 7% auto 0 auto;
}
#test {
    justify-self: center;
}
#carolyn {
    justify-self: center;
}
h5 {
    justify-self: center;
    font-size: 2em;
    font-weight: 400;
    margin: 2% auto;
}
#testtext {
    justify-self: center;
    text-align: center;
    padding: 0 100px 0 100px;
    font-size: 2em;
}
#testwithquotes {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
#quote1 {
    justify-self: start;
    align-self: start;
}
#quote2 {
    justify-self: end;
    align-self: end;
}
#threedots {
    justify-self: center;
    padding: 30px;
}
/* #quote1 {
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: start;  
}
#quote2 {
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: end; 
} */
/* #texttest {
    justify-self: center;
    text-align: center;
} */





/* #seemore{
    background-color: #3693d6;
    color: white;
    text-align: center;
    border: 1px solid #3693d6;
    border-radius: 50px;
} */


footer {
    display: flex;
    background-color: #3693d6;
    width: 100vw;
    height: 10vh;
    color: white;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}