html {
    /* Display: grid; */
    font-family: "Roboto", sans-serif;  
    /* grid-template-rows: repeat(17, 1fr);    
    grid-template-columns: repeat(3, 1fr); */

}
header {
    display: flex;
    background-color: #3693d6;
    width: 100vw;
    height: 3vh;
    color: white;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}
#headerimage {
    justify-self: start;
    align-self: center;
    height: 60%;
    width: 30%
}

ul {
    text-decoration: none;
    list-style: none;
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    margin-right: 12%;
}
ul a {
    color: white;
    text-decoration: none;
    font-size: 100;
    padding: 10px;
}
#sayhello{
    background-color: white;
    color: #3693d6;
    text-align: center;
    font-size: 100;
    border: 1px solid #3693d6;
    border-radius: 50px;
}
a:hover {
    color: gray;
}
#sayhello:hover {
    background-color: gray;
}
#titleimage {
    position: abolute;
    z-index: -1;
    width: 100vw;
    height: 25vh;
}
#titleimageandtext {
    position: relative;
    text-align: center;
}
h1 {
    position: absolute;
    color: white;
    font-size: 3em;
    font-weight: 300;
    bottom: 42%;
    left: 30%;
    transform: rotate(-10deg);
    /* go back and fix this centering like Zack said */
}
h2 {
    position: absolute;
    color: white;
    bottom: 25%;
    font-size: 2em;
    left: 53%;
    transform: rotate(-10deg);
    font-weight: 300;
}

#aboutme {
    background-color: #3693d6;
    color: white;
    text-align: center;
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#aboutmetitle {
    background-color: #3693d6;   
    font-weight: bold;
    padding: 5% 0 0 0;
}
#aboutmetxt {
    font-size: 0.8em;
    padding: 0 15% 5% 15%;
    font-weight: lighter;
    
}
#ourwork {
    position: absolute;
    bottom: 8%;
    left:45%;
    background-color: #3693d6;
    color: white;
    border: 1px solid #3693d6;
    border-radius: 50px;
    height: fit-content;
    width: fit-content; 
    font-size: 0.7em; 
    padding: 1% 2% 1% 2%;
}
#ourwork:hover {
    background-color: gray;
}
#ourworktitle {
    text-align: center;
    font-weight: bold;
    color: #3693d6;
    margin: 5% 0 5% 0;

}

main #mainimages{
    display: grid;
    grid-template-rows: repeat(3, 33.3%);
    grid-template-columns: repeat(3, 33.3%);
    gap: 1%;
    margin: 0 5% 0 5%;
}
#mountaincabin {
    width: 100%;
    height: 100%;
}
#dog {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
}
#cross {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;  
}
#backpacker {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
} 

#flyhigh {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    justify-self: center;
}
#overlay {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(54,147,214,0.5);
    color: white;
    z-index: 2;
    text-align: center;
    justify-self: center;
}
#flyhighall {
    margin: 40% 0 0 0;
}
h3 {
    font-size: 3vw;
    font-weight: 500;
    margin: 0 auto 5% auto;
}
#flyhightxt {
    /* width: 70%;   */
    margin: 0 15% 0 15%; 
    font-size: 1.7vw;
    font-weight: 200;
    line-height: 1.5em;

}

#seemore {
    background-color: #3693d6;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: rgba(54,147,214,0.5);
    width: fit-content;
    height: fit-content;
    font-size: 1.5vw;
    padding: 1% 4% 1% 4%;
}
#seemore:hover {
    background-color: gray;
}

#testimonial {
    display: grid;
    grid-template-rows: repeat(5, auto);
    color:#3693d6;
    margin: 7% auto 0 auto;
}
#test {
    justify-self: center;
    margin: 5% auto 3% auto;
    font-weight: bold;
}
#carolyn {
    justify-self: center;
    height: 100%;
    width: 15%;
}
h5 {
    justify-self: center;
    font-weight: 400;
    margin: 2% auto;
}
#testtext {
    justify-self: center;
    text-align: center;
    line-height: 2;
}
#testwithquotes {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: 0 10% 0 10%
}
#quote1 {
    justify-self: end;
    align-self: start;
    height: 30%;
    width: 50%;

}
#quote2 {
    justify-self: start;
    align-self: end;
    height: 30%;
    width: 50%;
}
#threedots {
    justify-self: center;
    padding: 30px;
    width: 5%
}
footer {
    display: grid;
    background-color: #3693d6;
    width: 100vw;
    height: 10vh;
    color: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 0 2% 0 2%;
}
#footericon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 20%;
    justify-self: center;
    align-self: end;
}
#footername {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 20%;
    justify-self: center;
}
/* #locationetc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* justify-content: space-between; */
    /* align-content: flex-start; 
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    padding-left: 3%;
/* } */

  #locationtitle, #emailtitle, #phonetitle {
    font-weight: bold; 
    /* font-size: 1.5em; */
    margin-bottom: 5%;
    align-self: end;
}
#locationtxt, #emailtxt, #phonetxt {
    font-size: 0.5em;
    font-weight: lighter;
    margin-top: 2%;
}
#locationtitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#emailtitle {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#phonetitle {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#locationtxt {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#emailtxt {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#phonetxt {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#smicons {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 10%;
    width: 10vw; 
    justify-self: start;
    align-self: center;
    padding-bottom: 40%;
    padding-top: 10%
}
/*footer {
    display: flex;
    background-color: #3693d6;
    width: 100vw;
    height: 10%;
    color: white;
    /* justify-content: space-around; */
    /* align-items: baseline; */
    /* padding: auto 15%;
    margin-top: 3%; */
/* }

#smicons {
    justify-self: flex-end;
    height: 10%;
    width: 7%; */
    /* align-self: center; */
    /* padding-bottom: 8%; */
    /* padding-top: 20% */
/* }
#locationetc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    /* justify-content: space-between; */
    /* align-content: flex-start; 
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    padding-left: 3%; */
 
    
/* }
#locationtitle, #emailtitle, #phonetitle {
    font-weight: bold; */
    /* font-size: 1.5em; */
    /* margin-bottom: 2%;

}
#locationtxt, #emailtxt, #phonetxt {
    font-size: 0.5em;
    font-weight: lighter;
    margin-top: 0;
}
#emailtitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#phonetitle {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}*/
